<div{{ attributes.addClass(classes) }}>
  {% if description %}
    <div class="block-projects-stats__description">
      {{ description }}
    </div>
  {% endif %}
  <table class="block-projects-stats__projects">
    <tr>
      {% for cell in table_head %}
        <th>{{ cell }}</th>
      {% endfor %}
    </tr>
    {% for cell in table_body %}
      <tr>
        <td>{{ link(cell.title, cell.url, {'target': target}) }}</td>
        <td>{{ cell.downloads }}</td>
        {% if cell.project_usage %}<td>{{ cell.project_usage }}</td>{% endif %}
        {% if cell.created %}<td>{{ cell.created }}</td>{% endif %}
        {% if cell.changed %}<td>{{ cell.changed }}</td>{% endif %}
        {% if cell.last_version %}<td>{{ cell.last_version }}</td>{% endif %}
      </tr>
    {% endfor %}
  </table>
</div>
